.form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__text-items {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__text_item {
    width: 100%;
    background: rgba(255, 255, 255, 0.205);
    border: 1px solid rgba(255, 255, 255, 0.863);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
    &:hover {
    color: #000000;
      background-color: #ffffffd2;
    }
  }
  &__message {
    width: 100%;
    background: rgba(255, 255, 255, 0.205);
    border: 1px solid rgba(255, 255, 255, 0.836);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
    &:hover {
    color: #000000;
      background-color: #ffffffd2;
    }
  }
  &__btn {
    width: 100%;
    background: rgba(255, 255, 255, 0.205);
    border: 1px solid rgba(255, 255, 255, 0.918);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
    &:hover {
    color: #000000;
      background-color: #ffffffd2;
    }
  }
}
