.subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
  // background: linear-gradient(178deg, rgb(11, 4, 45) 36%, rgb(51 1 99) 70%, rgb(123 2 147) 100%);
  width: 100%;

  &__wrapper {
    @include f(center, center, row);
    background-color: $light;
    padding: 80px 60px;
    border-radius: 30px;
  }

  &__headline {
    color: $dark;
    font-size: 2rem;
    font-weight: 600;
    flex-basis: 40%;
  }
}