.stickers {
  width: 100%;
  text-align: center;
  background: #00000049;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;

  &__headline {
    font-size: 45px;
    font-weight: 700;
  }

  &__desc {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
  }

  &__gallery{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    img{
      width: 200px;
    }
  }
}