.stickers {
  width: 100%;
  text-align: center;
  background: #00000049;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;



  &__gallery{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    img{
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      pointer-events: none;
      width: 200px;
    }
  }
}