.banner {
  padding-top:  50px;

  height: 100vh;
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1240px) minmax(15px, 1fr);
  background: linear-gradient(9deg, rgba(7, 0, 36, 1) 29%, rgba(111, 0, 255, 1) 100%);
  // background: linear-gradient(9deg, rgba(12,0,60,1) 36%, rgba(70,0,161,1) 100%);
  // background: linear-gradient(9deg, rgba(8,3,32,1) 36%, rgba(70,0,161,1) 100%);
  // background: linear-gradient(9deg, rgba(16,7,60,1) 36%, rgba(40,1,99,1) 86%, rgba(70,0,161,1) 100%);
  background: linear-gradient(9deg, rgba(11,4,45,1) 36%, rgba(40,1,99,1) 70%, rgba(70,0,161,1) 100%);

  &__wrapper {
    grid-area: 1/2;
    @include f(center, baseline, column);
  }


  @media (max-width: 867px) {}
}