.nav {
  width: 80%;
  margin: 0px 30px 60px 30px;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
  @include f(space-around, baseline, row);



  &__btn {
    flex: 1 1;
    background: none;
    color: inherit;
    border: none;
    padding: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    // width: %;
  }

  &__txt {
    display: block;
    background-color: transparent;
    border-radius: 0;
    padding: 15px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
    
    &.active::before{
      width: 100% !important;
      // pointer-events:none;
      cursor: default;

    }
    

    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 0;
      // border-radius: 55px 0px 0px 55px;
      
      // &:last-child{
        // border-radius:  0px 55px  55px  0px;
      // }
      
      height: 100%;
      background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }

  }
}

.border-mod-one {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.border-mod-two {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.border-mod-three {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 55px 55px 0px;
}